*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d3800;
}
.face{
  
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ffcd00;
    border-radius: 50%;
}
.lefteye{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    top: 50px;
    left: 40px;
}
.righteye{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50px;
    right: 40px;
    border-radius: 50%;
    background-color: white;
}
.eyeboal{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    top: 9px;
    left: 8px;
}
.mouth{
    width: 100px;
    height: 50px;
    position: absolute;
    background-color: #b57700;
    top: 130px;
    left: 50px;
    border-radius: 0px 0px 50px 50px;
    transition: 0.5s;
}


.face:hover > .mouth{
height: 15px;
border-radius: 0px 0px 0px 0px;
}